label {
    font-family: YouthPower;
}

.logo {
    font-size: 50px;
    font-family: YouthPower;

    color: #ededed;
    background: transparent;

    text-align: left;
    text-transform: uppercase;
    
    margin: 2%;
}

.logo:active {
    color:#c79f9f;
}

.logo:hover {
    text-decoration: none;
}


nav ul {
    list-style: none;
}

nav ul li {
    text-align: right;
    display: inline;
    font-size: 120%;
    margin: 0 3%;
}

nav ul li:hover {
    text-decoration: underline;
}

nav ul {
    padding: 3% 5%;


    background: linear-gradient(to right, rgba(237,237,237,0) 33%, rgba(237,237,237,0.03) 34%, rgba(237,237,237,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );

    text-align: right;
}

.logo#ComFuncao {
    display: none;
}

.logo#SemFuncao {
    display: inline;
}
@media only screen and (max-width: 768px) {

    nav ul {
        padding: 2% 8%;
        text-align: center;
    }
    
    nav ul li {
        display: inline;
        margin: 3% 0;
        text-align: right;
    }

    /*-- Links do Menu --*/
    nav ul li:nth-child(3) {
        display: none;
    }

    nav ul li:nth-child(4) {
        display: none;
    }

    nav ul li:nth-child(5) {
        display: none;
    }


    .logo#ComFuncao {
        display: inline;
    }

    .logo#SemFuncao {
        display: none;
    }

    .logo {
        text-align: center;
    }
 }